$text: #080607;
$background: #f9f4f5;
$primary: #bb576b;
$secondary: #ffb7c5;
$accent: #e25571;

$sansjapan: 'Noto Sans JP', sans-serif;
$serifjapan: 'Noto Serif JP', serif;
$tangerine: 'Tangerine', cursive;

.menu-wrapper {
    h1 {
        font-family: $tangerine;
        font-size: 12rem;
        text-align: center;
        color: $accent;
        padding-top: 40px;
        font-weight: 700;
    }
    .second {
        font-family: $sansjapan;
        font-size: 2.2rem;
        text-align: center;
        color: $text;
        font-weight: 500;
    }
    svg {
        width: 100%;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    h2 {
        font-family: $tangerine;
        font-size: 6rem;
        color: $primary;
        text-align: center;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .main-menu {
        grid-area: main;
    }
    .drink-menu {
        grid-area: drinks;
    }
    .desert-menu {
        grid-area: deserts;
    }
}

.menu-item {
    display: grid;
    grid-template-areas: 
    'img heading'
    'img desc';
    height: max-content;
    width: max-content;
    img {
        grid-area: img;
        max-width: 280px;
    }
    .food-heading {
        grid-area: heading;
        font-family: $sansjapan;
        font-size: 2.3rem;
        color: $text;
        font-weight: 500;
        margin-top: auto;
    }
    .food-desc {
        grid-area: desc;
        font-family: $serifjapan;
        font-size: 1.6rem;
        color: $primary;
        width: 35ch;
    }
}